<IfModule mod_rewrite.c>
    # Add this line if you are still getting 403 errors and are sure about permissions
    Options -Indexes

    RewriteEngine On

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
